<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Anime</title>
</head>
<body>
    <h1>Home Anime</h1>
    <h2>Welcome to the Anime API Service!</h2>
    <p>This is a Opem Source API Service for Anime ranking and information. In this section you can find the documentation for the API. Please be sure to read it before using the API.</p>

    <h3>Documentation</h3>
    <table>
        <tr>
            <th>Method</th>
            <th>URL</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>GET</td>
            <td>/anime</td>
            <td>Get all anime</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/anime/{id}</td>
            <td>Get a single anime</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/anime</td>
            <td>Create a new anime</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/anime/{id}</td>
            <td>Update an anime</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/anime/{id}</td>
            <td>Delete an anime</td>
        </tr>
    </table>
</body>
</html>